/* copyright 2023 up-ti.com */

/* general properties */

:root {

  /* colors */

  --slate-900: hsl(222, 47%, 11%);
  --slate-600: hsl(217, 33%, 17%);
  --slate-100: hsl(213, 27%, 84%);
  --slate-50: hsl(210, 40%, 98%);
  --blue-500: hsl(217, 91%, 60%);
  --indigo-500: hsl(239, 84%, 67%);
  --indigo-400: hsl(234, 89%, 74%);

  /* typography */

  --ff-open-sans: 'Open Sans', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;

  --fs-1: 6.8rem;
  --fs-2: 2.8rem;
  --fs-3: 2.4rem;
  --fs-4: 2.0rem;
  --fs-5: 1.6rem;
  --fs-6: 1.4rem;

  /* spacing */
  
  --section-padding: 1.2rem;

  /* border radius */

  --radius-1: 6px;
  --radius-2: 8px;

}

/* RESET */

*,
*,::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
button { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  font-family: var(--ff-roboto);
  font-weight: bold;
  cursor: pointer;
  border-radius: var(--radius-1);
}

html {
  font-family: var(--ff-open-sans);
  font-size: 10px;
  scroll-behavior: smooth;  
}

body {
  background-color: var(--slate-600);
  color: var(--slate-50);
  font-size: 1.6rem;
  line-height: 1.5;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hls(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hls(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hls(0, 0%, 70%) ;}

.material-symbols-rounded { 
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  overflow: hidden;
}

/* reused styles */

h2, h3 {
  line-height: 2;
}

.container {
  padding: 2.4rem var(--section-padding) ;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-size: var(--fs-4);
}

.section-content {
  display: flex;
  gap: 1.2rem;
  padding-block: 4rem;
  border-bottom: 1px solid var(--slate-600);
}

.section-content:last-child {
  border-bottom: none;
}

.section-content img {
  width: 6.4rem;
}

.section-content-data p {
  color: var(--slate-100);
}


/* HEADER */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 6rem;
}

.navbar {
  position: absolute;
  top: 100px;
  visibility: hidden;
  z-index: 2;
}

.navbar-toggle .material-symbols-rounded {
  font-size: var(--fs-2);
  color: var(--slate-50);
}

/* HERO */

.hero {
  position: relative;
  padding-block-start: calc(var(--section-padding) + 72px); 
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  text-align: center;
}

.hero-title {
  font-size: var(--fs-2);
}

.hero-title span {
  display: inline;
  color: var(--blue-500);
}

.hero-content img {
  width: 70%;
}

.btn-hero {
  background-color: var(--blue-500);
  color: var(--slate-50);
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
}

.wave img {
  width: 100%;
}

.stats,
.services,
.support,
.contact {
  background-color: var(--slate-900);
}

.section-header img {
  width: 6.4rem;
}

.section-content-support {
  display: flex;
  gap: 6rem;
  text-align: center;
  justify-content: center;
  padding-block: 2.4rem;
}

.section-content-support span {
  font-size: 4.8rem;
  color: var(--indigo-500);
}

form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-block: 4rem;
  border-bottom: 1px solid var(--indigo-500);
}

form fieldset {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: none;
}

form fieldset label {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

form fieldset input {
  padding: 1.6rem 2rem;
  background-color: var(--slate-600);
  color: var(--slate-100);
  font-size: var(--fs-5);
  border: none;
  border-radius: var(--radius-1);
  outline: none;
}

input:active {
  border: 1px solid var(--indigo-500);
}

form .btn-form {
  padding: 1.2rem 2.4rem;
  width: 100%;
  background-color: var(--blue-500);
  color: var(--slate-50);
  text-transform: uppercase;
}